$primary: #bc2121;
$secondary: #e6b800;
$light: #f0f0f0;
$white: #fff;
$dark: #222;
$darker: #111;
$black: #000;
$dark-light: #666;
$gray30: #303030;

$btn-danger: #ff4949;
$btn-success: #13ce66;
$btn-info: #50bfff;
$btn-white: #fff;
